* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_general {
    height: 100vh;
    width: 100%;
    display: grid;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 8% auto 8%;
    grid-template-areas:
        "header"
        "form"
        "main"
        "footer";
}
.header {
    grid-area: header;
}

.form-label {
    display: flex;
    justify-content: center;
    margin-top: 0% important;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% auto 7% 10%;
    grid-template-areas:
        "card"
        "modelo"
        "ver_mas"
        "paguina";
}

.card {
    grid-area: card;
    display: flex;
}

.modelo {
    grid-area: modelo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.ver_mas {
    grid-area: ver_mas;
    display: flex;
    justify-content: center;
}

.paguina {
    grid-area: paguina;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    gap: 10px;
}

.footer {
    grid-area: footer;
}